body {
    /* background: url(https://images.unsplash.com/photo-1503803548695-c2a7b4a5b875?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80;) no-repeat center fixed;
    background-size: cover;
    position: relative;*/
    background-color: lime;
} 