<meta charset="utf-8">
    <title>Gr8ful</title>
    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Patua+One&display=swap" rel="stylesheet">
    <!-- STYLES -->
    <link rel="stylesheet" href="/css/styles.css">
    
    
<h1>I'm Gr8ful</h1>