<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>I'm Gr8ful</title>
</head>
<body>
	<h1>I'm Gr8ful</h1>
        <form action="/new">
            <button type="submit">Add a Gratitude</button>
        </form>
	<ul>
        <% gr8.forEach(gr8 => {%>
            <li>
            <a href="/<%= gr8.id %>"> <%= gr8.body %></a>
            </li>
        <% }); %>
    </ul>

</body>

</html>